_site/
_site
_site/**
.sass-cache/
.jekyll-metadata
.workinprogress
.DS_Store
.jekyll-cache
_site/artist-statement/index.html
_site/artist-statement/index.html
_site/artist-statement/index.html
_site/davina-bekerja-antropolog/index.html
_site/index.html
_site/living-houses/index.html
