<div class="container boats_block">

  <div class="product_page_title">
    <h2 class="center uppercase">Boats</h2>
    <h3 class="center">Experience the bliss of the Mentawais aboard our legendary vessels.</h3>
  </div>

  <div class="product_grid only_two">
  <!-- looper -->
  {% for boat in site.boats %}
    {% unless boat.publish=="notyet" %}
      <a class="looper__link card {{ boat.title | slugify }}" title="{{ boat.title }}" href="{{ site.baseurl }}/{{ boat.title | slugify }}">

        <div class="product_image">
          <figure class="">
            <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/boats/{{ boat.title | slugify }}/{{ boat.title | slugify }}.jpg" alt="{{ boat.title }}" title="{{ boat.title }}">

            {% if boat.image_caption %}
              <figcaption class="{{ boat.title | slugify }}">{{ boat.image_caption }}</figcaption>
            {% endif %}
          </figure>
        </div>

        <div class="product_text">
          <h3>{{boat.title | upcase }}</h3>
          {% if boat.subtitle %}
            <h5>{{boat.subtitle | upcase }}</h5>
          {% endif %}
          <div class="product_text_content">
            {{ boat.description }}
          </div>
          <div class="button_row">
            <span class="button" href="{{ site.baseurl }}/{{ boat.title | slugify }}">View</span>
          </div>
        </div>

      </a>
    {% endunless %}
  {% endfor %}
  </div>
</div>
