<script type="text/javascript">
  var app = new Vue({
      el: '#{{page.paintings_sheet}}',
      mounted() {
          let vm = this
          axios
              .get(
                  'https://sheets.googleapis.com/v4/spreadsheets/15HlwLOfyaXF8fyxZdhVf2jc2bi9lZti_GUS_Qu59nUA/values/{{page.paintings_sheet}}!A2:E9?key=AIzaSyBa52dHIk_h_jX2DtwcwYWrR8Y3tvaOXzE'
              )
              .then(function (response) {
                  let paintings = response.data.values
                  for (let index = 0; index < paintings.length; index++) {
                      const element = paintings[index]
                      let mitem = {
                        imagecode: element[0],
                        title: element[1],
                        dimensions: element[2],
                        medium: element[3],
                        year: element[4]
                      }
                      vm.artpieces = vm.artpieces.concat(mitem)
                  }
                  console.log(response)
              })
      },
      data: {
          artpieces: []
      },
      computed: {}
  });
</script>
