<script type="text/javascript">
  var app = new Vue({
      el: '#{{page.bookingsheet}}',
      mounted() {
          let vm = this
          axios
              .get(
                  'https://sheets.googleapis.com/v4/spreadsheets/1N4y23Fqk8Ukl7_NODHUkKlTG0NPGWAThb9zoNU3FmBg/values/{{page.bookingsheet}}!A2:E24?key=AIzaSyDMUuAGNCIvUQJ4Zmwijqj8UsnZUEuqRN4'
              )
              .then(function (response) {
                  let bookings = response.data.values
                  for (let index = 0; index < bookings.length; index++) {
                      const element = bookings[index]
                      let mitem = {
                        dates: element[0],
                        available: element[1],
                        reserved: element[2],
                        info: element[3],
                        full: element[4]
                      }
                      vm.charters = vm.charters.concat(mitem)
                  }
                  console.log(response)
              })
      },
      data: {
          charters: []
      },
      computed: {}
  });
</script>
