//print styles loading last

@include media("print") {
  .tagcloud_block,
  .painting_data.tags,
  .menu_contacts,
  .footer_icon.telephone,
  .footer_icon.youtube,
  .footer_icon.instagram,
  .footer_icon.facebook,
  .footer .menu_products.series,
  .footer .title.uppercase.bottom_padded--med {
    display: none;
  }

  .header.group {
    border-bottom: #cccccc 1px solid;
    padding-bottom: 1rem;
  }

  .container {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .copyright {
    padding-top: 0;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
  }

  .site_title {
    font-size: 22px;
    line-height: 1.2;
  }

  .footer {
    padding: 0;
    .container  {
      padding: 1rem;
    }
  }



  .painting_data {
    display: block;
    padding-top: .2rem;
    line-height: 0.75;
    .painting_data--name {
      font-style: normal;
      min-width: 110px;
    }
    .painting_data--name,
    .painting_data--content {
      font-size: 11px;
      display: inline-block!important;
    }
  }

  [role="main"] .container a {
    border-bottom: 0 none!important;
    box-shadow: none!important;
  }

  .painting_image {
    margin-bottom: .5rem;
    &.tall_image {
      max-height: 800px;
      width: auto;
    }
  }
}
