.boats_block {
  padding-top: $vertical_rhythm;
  background-color: $product_category_2; 
}

.booking_block {
  margin-top: $vertical_rhythm;
  padding: $vertical_rhythm $vertical_rhythm $vertical_rhythm--small $vertical_rhythm;
  border: dashed 4px $button_book;
  @include media( "screen", ">bp1Width") {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .maybe_break {
    display: none;
    @include media( "screen", ">bp1Width") {
      display: block;
    }

  }
}
