---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="home {{page.title | slugify}}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group" role="main">

      {% include hero_block.html %}

      <div class="container">

        <h1 class="product_page_title center uppercase">{{ page.title }}</h1>

        <div class="content">
          {{ content }}
        </div>

      </div>

      {% include boats_summary.html %}

      <div class="container">

        <div id="{{page.bookingsheet}}">

          <h2 class="center spacer">Booking Calender for {{ page.title }}</h2>

          {% include booking_boat.html %}

          <div class="booking_block">

            <h2 class="center">Reserve your place on <br class="maybe_break"> {{ page.title }}</h2>

            <div class="button_row book_now center">
              <a class="button" href="mailto:{{site.company.email}}">BOOK NOW</a>
            </div>

          </div>

        </div>

      </div>

      <!-- {% include loop_boats.html %} -->

    </div>

    {% include script_vue_from_CDN.html %}

    {% include script_vue_home.html %}

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}


  </body>

</html>
