<div class="product_grid">

{% for product in site.products %}
    <a class="looper__link card {{ product.product_group }}" title="{{ product.name }}" href="{{ site.baseurl }}/{{ product.product_group }}/{{ product.name }}/">

      <div class="product_image">
        <figure class="">
          <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/products/{{ product.product_group }}/{{ product.name}}.jpg" alt="{{ product.name }}" title="{{ product.name }}">
          <figcaption class="{% if product.tag %}{{ product.tag | slugify }}{% else %}{% if product.publish=="notyet" %}coming-soon{% endif %}{% endif %}">
            {% if product.tag %}{{ product.tag }}
            {% else %}{% if product.publish=="notyet" %}coming soon{% endif %}
            {% endif %}
          </figcaption>
        </figure>
      </div>

      <div class="product_text">
        <h2>{{product.name }}</h2>
      </div>

    </a>
{% endfor %}

</div>
