---
layout: default
---
<h2 class="center">{{ page.tag | upcase}}</h2>

<div class="painting_grid">
  {% for post in page.posts %}
    {% unless post.publish %}
    <div class="painting_block">
      <a class="painting_link" href="{{ post.url }}" title="view: {{ post.title }}" >

        {% comment %}
        assign the page image and split at the extension dot
        {% endcomment %}

        {% assign f = post.image | split: '.' %}

        <img class="painting_thumb" src="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }}"
             srcset="{{ f[0] | relative_url }}{{ include.name }}-640.{{ f[1] }} 640w,
                     {{ f[0] | relative_url }}{{ include.name }}-880.{{ f[1] }} 880w,
                     {{ f[0] | relative_url }}{{ include.name }}-1024.{{ f[1] }} 1024w,
                     {{ f[0] | relative_url }}{{ include.name }}-1920.{{ f[1] }} 1920w"
             sizes="50vw" alt="{{ post.title }}, {{ post.medium }}">

        <p class="painting_title">{{ post.title }}</p>
        <p class="painting_dimensions">{{ post.dimensions }} cm</p>
      </a>
    </div>
    {% endunless %}
  {% endfor %}
</div>
