---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="{{page.title}} serie">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group" role="main">

      <div class="container">

        <div class="content">

          <div class="content_header">

            <h2 class="center">{{ page.title }}</h2>

            <h5 class="center">{{ page.subtitle }}</h5>

          </div>

          <div class="painting_grid bigger">

            {% capture this_serie %}{{page.title}}{% endcapture %}

            {% for painting in site.posts %}
              {% if painting.serie == this_serie %}

              <div class="painting_block">
                <a class="painting_link" href="{{ painting.url }}" title="view: {{ painting.title }}" >

                  <img src="/assets/p/paintings/davina-stephens-{{painting.permalink}}-880.jpg" alt="">

                  <div class="painting_data">
                    <div class=" painting_title">
                      <span class="painting_data--content">{{ painting.title }}</span>
                     </div>

                    <div class=" painting_dimensions">
                      <span class="painting_data--content">{{ painting.dimensions }} cm</span>
                    </div>
                  </div>



                </a>
              </div>
              {% endif %}
            {% endfor %}

          </div>

        </div>

      </div>

    </div>

    {% include tag_cloud.html %}

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

  </body>

</html>
