---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="{{page.title}}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group" role="main">

      <div class="container">

        <div class="content">

          <div class="content_header">

            <h2>{{ page.title }}</h2>

            <h4>{{ page.subtitle }}</h4>

          </div>

          {% capture this_series %}{{page.title | slugify }}{% endcapture %}

          {% if this_series contains 'landscape-dominated' %}
            {% for item in site.data.landscape-dominated reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}

          {% if this_series contains 'living-houses' %}
            {% for item in site.data.living-houses reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}

          {% if this_series contains 'mapping-the-archipelagoes' %}
            {% for item in site.data.mapping-the-archipelagoes reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}

          {% if this_series contains 'oceans' %}
            {% for item in site.data.oceans reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}

          {% if this_series contains 'pacific-family-argonauts' %}
            {% for item in site.data.pacific-family-argonauts reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}

          {% if this_series contains 'this-side-of-paradise'%}
            {% for item in site.data.this-side-of-paradise reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}

          {% if this_series contains 'woodblocks' %}
            {% for item in site.data.woodblocks reversed %}
              {% include series_image_block.html %}
            {% endfor %}
          {% endif %}
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
